main.grid-con {
    grid-column: 2 / span 1;
}

html{
    background-color: #99ac74;
  }

main{
    background-image: url(../images/Music-mixer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 675px;
    border-radius: 20px;
}

h1{ 
    font-family: "Crafty Girls", cursive;
    text-align: center;
    font-size: 60px;
    background-color: #ac9b74a1;
    border-radius: 10px;

}

.nest{ 
    margin-top: 50px;
   width: 612px;
   height: 410px;
   position: relative;
}

.dropzone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    z-index: 2; /* Ensure it's above the nest image */
    background-color: transparent; /* Make it transparent */
}

.nest img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto; /* Adjust this value as needed */
    height: auto; /* Adjust this value as needed */
    z-index: 1;
  }

.egg-box{
    display: flex;
    background-color: #AC9B74;
    border-radius: 53px;
    width: 646px;
    height: 134px;

}

.egg img{
    display: inline-flex;
    height: 134px;
    cursor: pointer;
   }


.howto{
    width: 258px;
    height: 360px;
    background-color: #AC9B74;
    border-radius: 53px;
    margin-top: 100px;
}


.howto p{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: "Crafty Girls", cursive;

}

.audio-controls{

    width: 258px;
    height: 120px;
    background-color: #AC9B74;
    border-radius: 40px;
    padding: 30px 35px;
    text-align: center; 

}

@keyframes infiniteShake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px) rotate(-5deg); }
    50% { transform: translateX(10px) rotate(5deg); }
    75% { transform: translateX(-10px) rotate(-5deg); }
    100% { transform: translateX(0); }
  }
  
  .egg img.infiniteShake {
    animation: infiniteShake 0.5s ease-in-out infinite;
  }


  #playButton, #pauseButton, #rewindButton {
   height: 50px;
   width: 50px;
    border-radius: 10px;
  cursor: pointer;
  background-color: #e8d8b3;
  border-color: #AC9B74;
 }

 #playButton img, #pauseButton img, #rewindButton img{ 
    height: 20px;
 } 
